<template>
  <n-config-provider :theme="theme">
    <n-layout>
      <n-message-provider>
        <nuxt-layout>
          <nuxt-page />
        </nuxt-layout>
      </n-message-provider>
    </n-layout>
  </n-config-provider>
</template>

<script setup lang="ts">
import { NLayout, NMessageProvider, NConfigProvider } from "naive-ui"
import type { GlobalTheme } from "naive-ui"
const theme = ref(null as GlobalTheme)
</script>
