<template>
  <n-layout-footer>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel eos maxime possimus nisi impedit nemo, nulla fugiat,
    tempora sunt delectus unde repudiandae dignissimos eius ipsam facere facilis blanditiis aliquid! Reprehenderit.
  </n-layout-footer>
</template>

<script setup lang="ts">
import { NLayoutFooter } from 'naive-ui';


</script>