<template>
  <n-layout-header>
    <n-layout has-sider>
      <n-layout-sider content-style="padding: 24px;">
        <img
          class="header__logo"
          src="~/assets/images/logo.png"
          alt="JerseyMikes"
        />
      </n-layout-sider>
      <n-layout-content content-style="padding: 24px;">
        <n-space vertical>
          <n-menu :options="mainMenuOptions" mode="horizontal" />
          <n-menu :options="secondMenuOptions" mode="horizontal" />
        </n-space>
      </n-layout-content>
    </n-layout>
  </n-layout-header>
</template>

<script setup lang="ts">
import {
  NMenu,
  NLayoutHeader,
  NSpace,
  NIcon,
  NLayout,
  NLayoutSider,
  NLayoutContent,
} from "naive-ui"
import type { MenuOption } from "naive-ui"
import { Component } from "vue"
import {
  ContactsOutlined,
  LoginOutlined,
  SearchOutlined,
  ShoppingCartOutlined,
  SnippetsFilled,
} from "@vicons/antd"
import { RouterLink } from "vue-router"

function renderIcon(icon: Component) {
  return () => h(NIcon, null, { default: () => h(icon) })
}

const secondMenuOptions: MenuOption[] = [
  {
    label: () =>
      h(
        RouterLink,
        {
          to: "/order",
        },
        { default: () => "Order" }
      ),
    key: "order",
    icon: renderIcon(ShoppingCartOutlined),
  },
]

const mainMenuOptions: MenuOption[] = [
  {
    label: () =>
      h(
        RouterLink,
        {
          to: "/order",
        },
        { default: () => "Order" }
      ),
    key: "order",
    icon: renderIcon(ShoppingCartOutlined),
  },
  {
    label: () =>
      h(
        RouterLink,
        {
          to: "/menu",
        },
        { default: () => "Menu" }
      ),
    key: "menu",
    icon: renderIcon(SnippetsFilled),
  },
  {
    label: () =>
      h(
        RouterLink,
        {
          to: "/locations",
        },
        { default: () => "Find Locations" }
      ),
    key: "locations",
    icon: renderIcon(SearchOutlined),
  },
  {
    label: () =>
      h(
        RouterLink,
        {
          to: "/careers",
        },
        { default: () => "Careers" }
      ),
    key: "careers",
    icon: renderIcon(ContactsOutlined),
  },
  {
    label: "Login",
    children: [
      {
        type: "group",
        label: "Benefits",
        children: [
          {
            label: " Exclusive Offers & Promotions",
          },
        ],
      },
    ],
    key: "login",
    icon: renderIcon(LoginOutlined),
  },
]
</script>

<style lang="scss">
.header {
  &__logo {
    display: block;
    max-width: 100%;
  }
}
</style>
