<template>
  <div class="layout--default layout--public">
    <the-header />
    <n-layout-content content-style="padding: 24px;">
      <nuxt-page />
    </n-layout-content>

    <the-footer />
  </div>
</template>

<script setup lang="ts">
import { NLayoutContent } from "naive-ui"
</script>
